* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
 
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
 
.secao {
    padding: 60px 20px;
}
 
.cabecalho {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*Utilizando o flexbox para alinhar os itens do cabeçalho*/
}
 
.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px;
    width: 100%;
}
 
.nome-portifolio {
    font-size: 1.5em;
}
 
.navegacao ul {
    list-style: none;
    display: flex;
}
 
.navegacao li {
    margin-left: 20px;
}
 
.navegacao a {
    color: #fff;
    text-decoration: none;
}
 
.navegacao a:hover {
    color: red;
}
 
.sobre-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 30px;
}
 
.foto-perfil {
    width: 200px;
    border-radius: 50%;
}
 
.texto-sobre {
    font-size: 1.5em;
    margin-bottom: 10px;
}
 
.habilidades {
    background-color: #eee;
}
 
.habilidades-container {
    max-width: 1200px;
    text-align: center;
}
 
img {
    height: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
}
 
.lista-habilidades {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
 
.lista-habilidades li {
    background-color: #ddd;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
}
 
.projetos-container {
    max-width: 1200px;
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}
 
.projeto {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
 
.projeto img {
    max-width: 100%;
    height: 300px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}
 
.projeto h3 {
    margin-top: 0px;
    font-size: 1.2em;
}
 
.projeto a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
 
.projeto a:hover {
    background-color: #555;
}
 
.contato {
    background-color: #ddd;
}
 
.projetos-container h2 {
    margin-top: 180px;
    font-size: 3em;
}
 
.contato-container {
    max-width: 1200px;
    text-align: center;
}
 
.formulario-contato {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
.formulario-contato input [type='text'],
.formulario-contato input [type='email'],
.formulario-contato textarea {
    padding: 10px;
    border: 1px solid  #ccc;
    font-size: 1em;
}
 
.formulario-contato textarea {
    resize: vertical;
    min-width: 100px;
}

.formulario-contato{
    color: #333;
    
}
 